---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Packages from "../components/Packages.astro";
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="EONET Connection - Internet Bebas Batas">
	<Header />
	<main>
		<Hero />
		<Packages />
		<Features />
	</main>
	<Footer />
</Layout>
